<form class="ui stacked segment form" action="/memberctrl/addassessment" method="POST">
    <div class="three fields">
        <div class="field">
            <label>Weight (kg)</label>
            <input placeholder="0.0" type="number" name="weight">
        </div>
        <div class="field">
            <label>Chest (inch)</label>
            <input placeholder="0.0" type="number" name="chest">
        </div>
        <div class="field">
            <label>Thigh (inch)</label>
            <input placeholder="0.0" type="number" name="thigh">
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>Upper Arm (inch)</label>
            <input placeholder="0.0" type="number" name="upperArm">
        </div>
        <div class="field">
            <label>Waist (inch)</label>
            <input placeholder="0.0" type="number" name="waist">
        </div>
        <div class="field">
            <label>Hips (inch)</label>
            <input placeholder="0.0" type="number" name="hips">
        </div>
    </div>
    <button class="ui blue submit button">Add Measurement</button>
</form>