<table class="ui fixed table">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Weight (kg)</th>
        <th>Chest (inches)</th>
        <th>Thigh (inches)</th>
        <th>Upper Arm (inches)</th>
        <th>Waist (inches)</th>
        <th>Hips (inches)</th>
        <th>Trend</th>
        <th>Comment</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        #{list items:_member.assessments, as: 'assessment'}
            <tr>
                <td>
                    ${assessment.timestamp}
                </td>
                <td>
                    ${assessment.weight}
                </td>
                <td>
                    ${assessment.chest}
                </td>
                <td>
                    ${assessment.thigh}
                </td>
                <td>
                    ${assessment.upperArm}
                </td>
                <td>
                    ${assessment.waist}
                </td>
                <td>
                    ${assessment.hips}
                </td>
                <td>
                    #{if assessment.trend == "increase"}<i class="small red arrow circle up icon"></i>#{/if}
                    #{elseif assessment.trend == "decrease"}<i class="small green arrow circle down icon"></i>#{/elseif}
                    #{elseif assessment.trend == "static"}<i class="small orange circle icon"></i>#{/elseif}
                    #{elseif assessment.trend == "Unknown"}<i class="small circle icon"></i>#{/elseif}
                </td>
                <td>
                    ${assessment.comment}
                </td>
                <td>
                    <a href="/members/${_member.id}/deleteassessment/${assessment.id}" class="ui tiny red button">
                        <i class="icon trash"></i>
                    </a>
                </td>
            </tr>
        #{/list}
    </tbody>
</table>